*{
    margin:0;
    padding: 0; 
     background-color: #222831;
     color: aliceblue;  
}


.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 28px 96px;

}

.header-logo{
    font-family: 'Oswald';

}
.header-link {
    color: orange;
    display: flex;
    gap: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;


}

.content-text {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    white-space: nowrap;
}

.content-img {
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

.content-img img {
    width: 100%;
}

.content-text-btn button{
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 12px 18px;
    margin-top: 30px;
}

/* button {
    background-color:#00ADB5;
    border: #00ADB5 3px solid;
    border-radius: 30px;
    padding: 12px 18px;
    margin-top: 30px;
} */

.button-button1 {
    background-color: #00ADB5;
    border: #00ADB5 3px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button-button2 {
    background-color: #393E46BF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
    padding: 50px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
    justify-content: space-evenly;
    /* gap: 150px; */
}

.color{
    color: #00ADB5;
}

.about {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.me{
    color: #00ADB5;
}

.about-text {
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    width: 50%;
    padding: 50px;
    
}

.about-img img{
    width: 100%;
}


/* css mobile */

@media screen and (max-width:1000px) {

    .content {

        flex-direction: column;
        gap: 50px;
        align-items: center;

    }
    .about {
   
        flex-direction: column;
        width: 100%;
    }
    .about-img {
        width: 100%;
    }
    .about-text {
        width: 100%;
        
    }



}
